.input-field-container {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}

.input-field-container .form-left-side,
.input-field-container .form-right-side {
  min-width: 270px;
}

.input-field-container .form-left-side,
.input-field-container .form-right-side,
.form-left-side label,
.form-right-side label {
  display: flex;
  flex-direction: column;
}

.form-left-side label,
.form-right-side label {
  margin-bottom: 10px;
}

.form-left-side input,
.form-right-side input {
  margin-top: 10px;
}

.user-info-display,
.phone-input-container,
.submit-button-container {
  text-align: center;
  margin-top: 20px;
}
