#user-form-container {
  text-align: center;
}

#user-form-container .user-info-display,
.input-field-container label,
.phone-input-container,
.submit-button-container {
  margin-top: 20px;
}

.input-field-container .form-left-side {
  margin-right: 20px;
}

.input-field-container label {
  display: flex;
  flex-direction: column;
}

.input-field-container label input {
  margin-top: 12px;
}

.input-field-container .error-message {
  margin: 0;
}

.phone-input-container label:not(:last-child) input {
  width: 40px;
}

.phone-input-container label:last-child input {
  width: 60px;
}
