:root {
  :root {
    --size-10: 0.625rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-30: 1.875rem;
    --size-40: 2.5rem;
    --size-50: 3.125rem;
    --size-100: 6.25rem;
    --size-150: 9.375rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: var(--size-16);
  font-weight: 400;
  text-align: left;
  padding: 0;
  margin: 0;
  font-family: "Intern", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--font-color-base);
}

a {
  text-decoration: none;
  pointer-events: none;
  background: transparent;
}

main,
header,
footer,
nav,
section,
aside {
  display: block;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1140px;
}

.container-md {
  max-width: 648px;
}

.ul-defaults-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  background: none;
  border: 2px solid black;
  padding: 0.535rem 1.5rem;
  border-radius: 50rem;
  cursor: pointer;
  transition: transform 0.2s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #999;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 5px 3px 27px -2px rgba(22, 22, 22, 0.2);
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 992px) {
}

@media all and (min-width: 1200px) {
}
