#main-header .navbar {
  flex-wrap: wrap;
  z-index: 30;
}

#main-header #site-logo {
  font-size: var(--size-25);
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

#main-header .navbar-toggler {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.navbar-nav {
  background-color: black;
}

.navbar-nav li {
  padding: 10px 12px;
}

.navbar-nav li:hover,
.navbar-nav li.active {
  cursor: pointer;
  background-color: var(--bg-bright);
  color: var(--font-color-dark);
}
