#portfolio-gallery {
  justify-content: initial;
}

.search-container {
  max-width: 1400px;
}

.search-container label {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.search-container label input {
  padding: 0.75rem 1.5rem;
  background-color: #f1f3f5;
  border: 1px solid #f1f3f5;
  border-radius: 50rem;
  outline: none;
}

.search-container label input:focus {
  border-color: #4dabf7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(34, 139, 230, 0.5);
}

.search-container .fa-search {
  position: absolute;
  right: 10px;
}

.search-container .portfolio-filter-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio-filter-nav .filter-link {
  padding: 0 1rem;
  line-height: 1.6;
  letter-spacing: 1.63px;
  font-weight: 700;
}

.portfolio-filter-nav .filter-link:hover {
  cursor: pointer;
}

.portfolio-filter-nav .filter-link.active {
  color: #495fef;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  justify-content: center;
}

.portfolio-card {
  position: relative;
  margin: 0 1rem 1.85rem;
  max-width: 255px;
}

.portfolio-card:hover {
  cursor: pointer;
}

.card-body img {
  width: 100%;
  height: 255px;
  object-fit: cover;
  border-radius: 8px;
}

.card-popup-box {
  position: absolute;
  bottom: -20px;
  left: 20px;
  right: 20px;
  transition: 0.4s;
  z-index: 1;
  padding: 1.25rem 1.875rem;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.card-popup-box::before {
  content: "";
  position: absolute;
  background-color: var(--bg-bright);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.9;
  border-radius: 8px;
}

.card-popup-box::before:hover {
  cursor: pointer;
}

.portfolio-card:hover .card-popup-box {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.card-popup-box > div {
  color: var(--font-color-soft);
  font-size: 0.825rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-popup-box h3 {
  margin: 0;
  color: var(--bg-dark);
  font-size: 1.3125rem;
  letter-spacing: -0.5px;
}
