:root {
  --bg: #000;
  --bg-panel: #000;
  --color-headings: #fff;
  --color-text-opactiy: rgba(255, 255, 255, 0.6);
  --color-text-primary: #fff;
  --color-text-secondary: #000;
}

[data-theme="dark"] {
  --bg: #fff;
  --bg-panel: #fff;
  --color-headings: #110d0d8b;
  --color-text-opactiy: rgba(44, 44, 44, 0.6);
  --color-text-primary: #000;
  --color-text-secondary: #fff;
}
