#to-do-header {
  padding: var(--size-18);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  box-shadow: inset 1px -4px 10px -3px #fff;
}

#to-do-header .add-item-button {
  position: absolute;
  right: var(--size-18);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: var(--size-30);
  padding: 0 5px;
  border-radius: 8px;
  line-height: 0.925;
  box-shadow: 0px 0px 2px 2px var(--background-color-faded),
    inset 0px 0px 2px 2px var(--background-color-faded);
}

#to-do-header .add-item-button:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: var(--bg-bright);
  color: var(--bg-dark);
}

#to-do-header .add-item-button:active {
  background-color: initial;
  color: var(--font-color-bright);
}

#to-do-header .add-item-button::before,
#to-do-header .add-item-button::after {
  --scale: 0;
  --tooltip-color: #333;
  --arrow-size: 10px;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  font-size: var(--size-12);
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  width: max-content;
  transform-origin: center top;
}

#to-do-header .add-item-button::before {
  --translate-y: calc(100% + var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  background-color: var(--tooltip-color);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

#to-do-header .add-item-button:hover::after,
#to-do-header .add-item-button:hover::before {
  --scale: 1;
}

#to-do-header .add-item-button:hover::after {
  --translate-y: calc(1 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  transform-origin: bottom center;
}

#to-do-header #add-item-form {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  transform: translateY(100%);
  background-color: var(--background-color-form);
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#add-item-form .input-primary {
  padding: 0.4rem 1rem;
  border-radius: 5rem;
}

#add-item-form .input-primary input {
  font-size: var(--size-18);
}

#add-item-form .input-primary,
#add-item-form #add-item-confirm {
  margin-bottom: var(--size-12);
}

#to-do-body {
  border: 1px solid black;
}

#to-do-body .list-item {
  padding: 0.8rem;
}

.list-item .item-content,
.list-item .item-input-container {
  margin-right: auto;
}

.list-item.edit-mode .item-content {
  display: none;
}

.list-item .item-content,
.item-input-container input {
  font-size: var(--size-16);
}

.item-input-container {
  display: none;
}

.list-item.edit-mode .item-input-container {
  display: block;
}
