#to-do-header {
  padding: var(--size-10);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

#to-do-header .add-item-button {
  position: absolute;
  right: var(--size-18);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: var(--size-30);
  padding: 0 5px;
  border-radius: 8px;
  line-height: 0.925;
  box-shadow: 0px 0px 2px 2px var(--background-color-faded),
    inset 0px 0px 2px 2px var(--background-color-faded);
}

#to-do-header .add-item-button:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: var(--bg-bright);
  color: var(--bg-dark);
  /* box-shadow: 0px 0px 2px 2px var(--bg-dark),
    inset 0px 0px 2px 2px var(--bg-dark); */
}

#to-do-header .add-item-button:active {
  background-color: initial;
  color: var(--font-color-bright);
}

#to-do-body {
  border: 1px solid black;
}
